hardware/cad/doorbell/doorbell-backups
hardware/cad/doorbell/~doorbell.kicad_sch.lck
hardware/cad/doorbell/~doorbell.kicad_pcb.lck
hardware/cad/doorbell/~doorbell.kicad_pro.lck
hardware/cad/doorbell/_autosave-doorbell.kicad_pcb

